<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<br/><br/><br/><br/><br/><br/>
</head>
<body align="center">
<div class="w3-container">
  <a href="/asadmin" class="w3-button w3-black">Login As Administrator</a>
</div>
<br><br>
<div class="w3-container">
  <a href="/asmanager" class="w3-button w3-black">Login As Manager</a>
</div>
<br><br>
<div class="w3-container">
  <a href="/asemployee" class="w3-button w3-black">Login As Employee</a>
</div>
<br><br>
</body>
</html>